<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Startseite</a></li>
		        	<li><a href="/details">Details</a></li>
	        		<li><a href="/database">Datenbank</a></li>
	        		<li><a href="/news">Neuigkeiten</a></li>
	    		</ul>
			</nav>
			<div class="container">
				{{ content }}
			</div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:ThomasMohr1990@gmail.com" target="_blank">email</a></li>
	        		<li><a href="https://github.com/Thames1990/Thames1990.github.io" target="_blank">github.com/Thames1990</a></li>
				</ul>
			</footer>
			{% include analytics.html %}
		</body>
	</html>
