<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Startseite</a></li>
		        	<li><a href="/details">Details</a></li>
	        		<li><a href="/database">Datenbank</a></li>
	        		<li><a href="/news">Neuigkeiten</a></li>
	    		</ul>
				<div id="search">
					<form role="search" method="get" action="{{site.baseurl}}/search/">
						<input id="searchString" name="searchString" placeholder="Be a Better Developer, etc." type="text">
						<input id="searchButton" name="googleSearchName" type="submit" value="Search">
					</form>
				</div>
			</nav>
			<div class="container">
				{{ content }}
			</div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:ThomasMohr1990@gmail.com" target="_blank">email</a></li>
	        		<li><a href="https://github.com/Thames1990/Thames1990.github.io" target="_blank">SoccerStats Github</a></li>
				</ul>
			</footer>
			<script id="dsq-count-scr" src="//soccerstats.disqus.com/count.js" async></script>
			{% include analytics.html %}
		</body>
	</html>
